
*{

}

body{
    background-color: rgb(141, 236, 146);
    font-size: 16px;
    color: #000000;
    font-family: sans-serif;
}

heder{
    background-color:#ecb781;
    height: 4em;
}

img{
    width: 50%;
    border-radius: 18px;;
}
